@font-face {
    font-family: iranSans;
    src: url('../fonts/iranSans.ttf');
}

@font-face {
    font-family: english;
    src: url('../fonts/english.ttf');
}

* {
    font-family: iranSans;

}
#body {
	background-color: #f7f7f7;
}


a.nav-link {
    transition: .6s;
    color: rgb(0, 0, 0) !important;
    margin: 0px 10px;
}

a.nav-link:hover {
    transition: 0.6s;
    color: rgb(0, 193, 252) !important;
}

.dropdown-menu.show {
border-bottom: 3px solid #44ffff;
border-radius: 5px 5px 5px 5px;
}



.boxes{
    margin-top: 80px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 8px 8px rgba(1, 1, 1, 0.034);
    transition: .5s;
    text-decoration: none;
}

.boxes:hover{
    margin-top: 60px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 8px 8px rgba(1, 1, 1, 0.034);
    transition: .5s;
    text-decoration: none;
}

.boxes-texts{
    text-align: right;
    background-color: rgb(255, 255, 255);
    padding: 10px 10px 10px 10px;
    border-radius: 0px 0px 10px 10px;
    text-decoration: none;
}
.boxes-image{

    border-radius: 10px 10px 0px 0px;
}

.blog{
    position: relative;
    width: 66.66667%;
    padding: 20px;
    font-size: 20px;
    text-align: right;
    margin-top: 25px;
    box-shadow: 0px 0px 4px 4px rgba(196, 196, 196, 0.26);
    border: 1px solid rgb(196, 196, 196);
    border-radius: 10px 10px 10px 10px;
}

.blog-r{

    margin-top: -230px;
    position:unset;
    display: inline-block;
    width: 32.3333%;
    padding: 20px;
    font-size: 20px;
    text-align: right;
    box-shadow: 0px 0px 4px 4px rgba(196, 196, 196, 0.26);
    border: 1px solid rgb(196, 196, 196);
    border-radius: 10px 10px 10px 10px;
}

.blog-r p#title{
    color:rgb(0, 174, 255);
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 3px solid rgb(0, 174, 255) ;
    font-size: 16px;

}

.blog p#title{
display: inline-block;


}

.blog p#desciption{
    font-size: 14px;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

.comment{
    text-align: right;
    margin-top:10px;
    width: 66.66667%;
    padding: 20px;
    font-size: 20px;
    box-shadow: 0px 0px 4px 4px rgba(196, 196, 196, 0.26);
    border: 1px solid rgb(196, 196, 196);
    border-right: 2px solid rgb(0, 174, 255);
    border-bottom: 2px solid rgb(0, 174, 255);
    border-radius: 10px 10px 10px 10px;
}

.user-comment{
    padding:10px;
    border-radius: 5px;
    border-right: 2px solid rgb(0, 201, 84);

    background-color: rgb(234, 245, 234);
}

.user-comment p{
    font-size: 16px;
}

.user-comment span{
    transition: .5s;
    font-size: 13px;
}

.user-comment span:hover{
    transition: .5s;
    font-size: 14px;
}

#discord-icon{
color: #6A6A6A;
transition: 0.4s;
padding: 12px 11px;
border-radius: 50%;
margin-left: 4px;
}

#discord-icon:hover{
color: #1C1C1C;
transition: 0.4s;
background-color: #eaeaea;
}

#titleheader{
	font-size: 20px;
	font-family: english;
}

#main-container {
	margin-bottom:40px;
	margin-top:30px;
	background-color: #ffffff;
	border-radius: 5px;
	padding: 3em 1em;
}

#header{
	border-bottom: 1px solid #eaeaea;
	border-radius: 0px 0px 0px 0px;
}

.screenshot{
	display: block;
	border-radius: 4px;
	margin-right: 100px;
}

.contect p{
	display: block;
	width: 50%;
	line-height: 40px;
	text-align: right;
	margin-top: -170px;
	margin-right: 44%;
}

.token{
margin-right: 15%;
margin-top: 80px;
padding: 10px;
border-radius: 4px;
width: 70%;
text-align: right;
background-color: #FFF2AF ;

}

.token p#title{
font-weight: 900;
text-shadow:0px 0px 2px #ffffff;
}
.token p#des{
line-height:30px;
margin-top:25px;
}
#new-tag{
	display: block;
	margin-top:-32px;
	color: #424242 ;
	font-weight: 900;
	text-align:left;
	text-shadow:0px 0px 2px #4B4B4B;
}

.footer{
	background-color: #f8f9fa;
	border-top: 1px solid #eaeaea;
}

#footertext{
margin-left: 30%;
margin-top: 20px;
margin-bottom: 20px;
}